*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #303236;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: padding-box;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}
